Repository deeporiginbio/deeporigin-client, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers, @deeporiginbio/platform-developers, @deeporiginbio/documentation-writers, @deeporiginbio/designers

.github/CODEOWNERS:

* @deeporiginbio/catalog-developers
src/managed_data/ @deeporiginbio/data-management-developers
src/variables/ @deeporiginbio/platform-developers
mkdocs.yaml @deeporiginbio/documentation-writers @deeporiginbio/designers
docs/ @deeporiginbio/documentation-writers
docs/images/ @deeporiginbio/documentation-writers @deeporiginbio/designers
docs/stylesheets/ @deeporiginbio/documentation-writers @deeporiginbio/designers

fix: test_convert_id_format was not using the right client
  tests/test_managed_data.py
Owners: @deeporiginbio/catalog-developers

fix: auth error now attempts to refresh tokens
  src/auth.py
  src/managed_data/_api.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: removed a debug
  src/managed_data/_api.py
Owners: @deeporiginbio/data-management-developers

fix: removed a csv test file
  local database.csv
Owners: @deeporiginbio/catalog-developers

refactor: switched to low-level generated code (#54)
  .github/workflows/main.yml
  Makefile
  pyproject.toml
  src/auth.py
  src/cli/data.py
  src/managed_data/_api.py
  src/managed_data/api.py
  src/managed_data/client.py
  src/managed_data/schema.py
  src/utils.py
  tests/api_tokens
  tests/config.yml
  tests/mock_client.py
  tests/test_cli_data.py
  tests/test_managed_data.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: fixed some typos in docs and updated CLI commands
  docs/how-to/managed-data/inspect-data.md
  docs/index.md
  docs/install.md
  docs/ref/managed-data/low-level-schema.md
  src/cli/data.py
  src/managed_data/api.py
Owners: @deeporiginbio/documentation-writers, @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

feat: improved test coverage
  docs/how-to/managed-data/inspect-data.md
  docs/how-to/managed-data/upload-data.md
  local database.csv
  src/managed_data/api.py
  tests/mock_client.py
  tests/test_managed_data.py
Owners: @deeporiginbio/documentation-writers, @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: updated docs to point to new code
  docs/how-to/managed-data/list-data.md
  docs/how-to/managed-data/upload-data.md
  docs/ref/managed-data/high-level-api.md
  docs/ref/managed-data/low-level-api.md
  docs/ref/managed-data/types.md
  mkdocs.yaml
  src/managed_data/api.py
Owners: @deeporiginbio/documentation-writers, @deeporiginbio/designers, @deeporiginbio/data-management-developers

fix: removed an unused dep
  pyproject.toml
Owners: @deeporiginbio/catalog-developers

Updated and modernized docs and CLI (#55)
  docs/how-to/managed-data/inspect-data.md
  docs/how-to/managed-data/list-data.md
  docs/how-to/managed-data/upload-data.md
  docs/index.md
  docs/install.md
  docs/ref/managed-data/high-level-api.md
  docs/ref/managed-data/low-level-api.md
  docs/ref/managed-data/low-level-schema.md
  docs/ref/managed-data/types.md
  local database.csv
  mkdocs.yaml
  pyproject.toml
  src/cli/data.py
  src/managed_data/api.py
  tests/mock_client.py
  tests/test_managed_data.py
Owners: @deeporiginbio/documentation-writers, @deeporiginbio/catalog-developers, @deeporiginbio/designers, @deeporiginbio/data-management-developers

feat: refined UX and docs
  .gitignore
  Makefile
  README.md
  docs/configure.md
  docs/how-to/do-info.md
  docs/how-to/managed-data/inspect-data.md
  docs/how-to/managed-data/upload-data.md
  docs/index.md
  docs/ref/managed-data/low-level-api.md
  mkdocs.yaml
  src/auth.py
  src/cli/config.py
  src/cli/data.py
  src/config/__init__.py
  src/exceptions.py
  src/utils.py
  tests/test_cli.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/documentation-writers, @deeporiginbio/designers

feat(infra): added make target for linting
  Makefile
Owners: @deeporiginbio/catalog-developers

style: formatted code
  src/cli/config.py
  src/cli/data.py
  src/config/__init__.py
Owners: @deeporiginbio/catalog-developers

style: fixed lint issues
  Makefile
  src/cli/config.py
  src/config/__init__.py
Owners: @deeporiginbio/catalog-developers

docs: refined installation instructions
  docs/install.md
Owners: @deeporiginbio/documentation-writers

style(docs): standardized capitalization
  docs/how-to/auth.md
  docs/how-to/managed-data/inspect-data.md
  docs/how-to/managed-data/list-data.md
  docs/how-to/managed-data/upload-data.md
  docs/how-to/managed-data/write-data.md
Owners: @deeporiginbio/documentation-writers

feat: refined documentation
  docs/how-to/auth.md
  docs/how-to/config-package.md
  docs/how-to/managed-data/inspect-data.md
  docs/how-to/managed-data/list-data.md
  docs/how-to/managed-data/upload-data.md
  docs/how-to/managed-data/write-data.md
  docs/how-to/variables.md
  docs/how-to/workstation-info.md
  mkdocs.yaml
  src/cli/__init__.py
  src/cli/config.py
  src/cli/context.py
  src/cli/data.py
  src/cli/variables.py
  src/config/__init__.py
  src/config/default.yml
  src/context.py
  src/managed_data/api.py
  src/variables/core.py
  tests/test_cli.py
  tests/test_cli_data.py
  tests/test_config.py
  tests/test_context.py
  tests/test_feature_flags.py
  tests/test_variables.py
Owners: @deeporiginbio/documentation-writers, @deeporiginbio/designers, @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers, @deeporiginbio/platform-developers

fix(docs): applied consistent terminology for data hub, capitalization
  docs/how-to/managed-data/upload-data.md
  docs/how-to/managed-data/write-data.md
  docs/ref/managed-data/low-level-api.md
  src/managed_data/api.py
Owners: @deeporiginbio/documentation-writers, @deeporiginbio/data-management-developers

fix: fixed variable installation when there are no variables
  src/cli/variables.py
  src/variables/core.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/platform-developers

fix: fixed setting Boolean values through the CLI
  docs/how-to/managed-data/write-data.md
  src/managed_data/api.py
Owners: @deeporiginbio/documentation-writers, @deeporiginbio/data-management-developers

style: linted
  src/managed_data/api.py
Owners: @deeporiginbio/data-management-developers

docs: documented testing with Windows
  docs/install.md
Owners: @deeporiginbio/documentation-writers

fix: numerous small fixes
  README.md
  docs/how-to/auth.md
  docs/how-to/managed-data/list-data.md
  docs/index.md
  docs/install.md
  src/cli/config.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/documentation-writers

feat: refined UX and docs (#56)
  .gitignore
  Makefile
  README.md
  docs/configure.md
  docs/how-to/auth.md
  docs/how-to/config-package.md
  docs/how-to/managed-data/inspect-data.md
  docs/how-to/managed-data/list-data.md
  docs/how-to/managed-data/upload-data.md
  docs/how-to/managed-data/write-data.md
  docs/how-to/variables.md
  docs/how-to/workstation-info.md
  docs/index.md
  docs/install.md
  docs/ref/managed-data/low-level-api.md
  mkdocs.yaml
  src/auth.py
  src/cli/__init__.py
  src/cli/config.py
  src/cli/context.py
  src/cli/data.py
  src/cli/variables.py
  src/config/__init__.py
  src/config/default.yml
  src/context.py
  src/exceptions.py
  src/managed_data/api.py
  src/utils.py
  src/variables/core.py
  tests/test_cli.py
  tests/test_cli_data.py
  tests/test_config.py
  tests/test_context.py
  tests/test_feature_flags.py
  tests/test_variables.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/documentation-writers, @deeporiginbio/designers, @deeporiginbio/data-management-developers, @deeporiginbio/platform-developers

Deployed f2c2b35 with MkDocs version: 1.6.0
  404.html
  assets/javascripts/bundle.081f42fc.min.js
  assets/javascripts/bundle.081f42fc.min.js.map
  assets/javascripts/bundle.fe8b6f2b.min.js
  assets/javascripts/bundle.fe8b6f2b.min.js.map
  assets/stylesheets/main.3cba04c6.min.css
  assets/stylesheets/main.3cba04c6.min.css.map
  assets/stylesheets/main.6543a935.min.css
  assets/stylesheets/main.6543a935.min.css.map
  configure.html
  how-to/auth.html
  how-to/config-package.html
  how-to/managed-data/inspect-data.html
  how-to/managed-data/list-data.html
  how-to/managed-data/write-data.html
  how-to/variables.html
  how-to/workstation-info.html
  index.html
  install.html
  objects.inv
  ref/managed-data/high-level-api.html
  ref/managed-data/low-level-api.html
  ref/managed-data/low-level-schema.html
  ref/managed-data/types.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: @deeporiginbio/catalog-developers

docs: clarified configuration documentation
  README.md
  docs/configure.md
  src/cli/config.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/documentation-writers

docs: changed 'workspace' to 'folder'
  docs/how-to/managed-data/list-data.md
  src/cli/data.py
  src/managed_data/api.py
  src/utils.py
  tests/mock_client.py
  tests/test_cli_data.py
  tests/test_managed_data.py
Owners: @deeporiginbio/documentation-writers, @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers
