Repository deeporiginbio/deeporigin-client, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers, @deeporiginbio/platform-developers, @deeporiginbio/platform-documentation-writers, @deeporiginbio/designers

fix: clarified help text for --columns
  src/cli/data.py
Owners: @deeporiginbio/catalog-developers

fix: removed an unused param
  src/cli/data.py
Owners: @deeporiginbio/catalog-developers

feat: updated to new version of deleting database columns (#70)
  docs/how-to/data-hub/delete.md
  pyproject.toml
  src/cli/data.py
Owners: @deeporiginbio/platform-documentation-writers, @deeporiginbio/catalog-developers

fix: fixed some small bugs
  src/data_hub/api.py
Owners: @deeporiginbio/data-management-developers

feat: better way of interacting with databases
  src/data_hub/api.py
  src/data_hub/dataframe.py
Owners: @deeporiginbio/data-management-developers

feat: automatic syncing of dataframes to databases
  src/data_hub/api.py
  src/data_hub/dataframe.py
Owners: @deeporiginbio/data-management-developers

fix: fixed some small bugs (#71)
  src/data_hub/api.py
Owners: @deeporiginbio/data-management-developers

fix: added required docstrings
  src/data_hub/dataframe.py
Owners: @deeporiginbio/data-management-developers

feat: introduced a short-circuit for a no-op
  src/data_hub/dataframe.py
Owners: @deeporiginbio/data-management-developers

feat: dataframes now show link and created time
  pyproject.toml
  src/data_hub/dataframe.py
  src/utils.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: turned off auto-sync on lambda
  src/data_hub/api.py
Owners: @deeporiginbio/data-management-developers

feat: docs for new dataframe feature
  docs/changelog.md
  docs/data-hub/dataframes.md
  docs/images/dataframe.png
  docs/ref/data-hub/types.md
  mkdocs.yaml
  src/data_hub/dataframe.py
  src/utils.py
Owners: @deeporiginbio/platform-documentation-writers, @deeporiginbio/designers, @deeporiginbio/data-management-developers, @deeporiginbio/catalog-developers

fix: fixed a broken link in docs
  docs/data-hub/dataframes.md
Owners: @deeporiginbio/platform-documentation-writers

fix: new implementation of DataFrame
  docs/data-hub/dataframes.md
  docs/ref/data-hub/types.md
  mkdocs.yaml
  src/__init__.py
  src/data_hub/api.py
  src/data_hub/dataframe.py
  src/utils.py
Owners: @deeporiginbio/platform-documentation-writers, @deeporiginbio/designers, @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: updated docs
  docs/data-hub/dataframes.md
  docs/images/dataframe-0.png
  docs/images/dataframe-1.png
  docs/images/dataframe-2.png
  docs/images/dataframe-3.png
  docs/images/dataframe.png
  src/data_hub/api.py
  src/data_hub/dataframe.py
  src/utils.py
Owners: @deeporiginbio/platform-documentation-writers, @deeporiginbio/designers, @deeporiginbio/data-management-developers, @deeporiginbio/catalog-developers

fix: updated dataframes docs
  docs/data-hub/dataframes.md
Owners: @deeporiginbio/platform-documentation-writers

fix: added a note to configure if running locally first
  docs/how-to/auth.md
Owners: @deeporiginbio/platform-documentation-writers

fix: post-review fixes
  docs/data-hub/dataframes.md
  docs/ref/data-hub/types.md
  src/data_hub/dataframe.py
  src/data_hub/logo.png
Owners: @deeporiginbio/platform-documentation-writers, @deeporiginbio/data-management-developers

fix: removed logo
  src/data_hub/logo.png
Owners: @deeporiginbio/data-management-developers

feat: better way of interacting with databases (#72)
  docs/changelog.md
  docs/data-hub/dataframes.md
  docs/how-to/auth.md
  docs/images/dataframe-0.png
  docs/images/dataframe-1.png
  docs/images/dataframe-2.png
  docs/images/dataframe-3.png
  docs/ref/data-hub/types.md
  mkdocs.yaml
  pyproject.toml
  src/__init__.py
  src/data_hub/api.py
  src/data_hub/dataframe.py
  src/utils.py
Owners: @deeporiginbio/platform-documentation-writers, @deeporiginbio/designers, @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

Deployed 224dde9 with MkDocs version: 1.6.0
  changelog.html
  compute-hub/index.html
  configure.html
  data-hub/dataframes.html
  data-hub/index.html
  how-to/auth.html
  how-to/data-hub/create.html
  how-to/data-hub/delete.html
  how-to/data-hub/list-data.html
  how-to/data-hub/upload-files.html
  how-to/data-hub/view-data.html
  how-to/data-hub/write-data.html
  how-to/variables.html
  how-to/workstation-info.html
  images/dataframe-0.png
  images/dataframe-1.png
  images/dataframe-2.png
  images/dataframe-3.png
  index.html
  install.html
  objects.inv
  ref/data-hub/high-level-api.html
  ref/data-hub/low-level-api.html
  ref/data-hub/types.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: @deeporiginbio/catalog-developers

refactor: moved the mapping of file ids to names outside core loop
  src/data_hub/api.py
Owners: @deeporiginbio/data-management-developers

fix: ready to switch to async
  src/data_hub/_api.py
  src/data_hub/api.py
Owners: @deeporiginbio/data-management-developers

feat: working proof of concept of asyncio code
  pyproject.toml
  src/data_hub/api.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: tests pass local
  src/__init__.py
  src/data_hub/_api.py
  src/data_hub/api.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: added describe files
  src/data_hub/api.py
  src/utils.py
Owners: @deeporiginbio/data-management-developers, @deeporiginbio/catalog-developers

fix: number of small bugfixes with dataframes
  src/data_hub/api.py
  src/data_hub/dataframe.py
Owners: @deeporiginbio/data-management-developers

fix: typo in docs about importing dataframes
  docs/changelog.md
  docs/data-hub/dataframes.md
Owners: @deeporiginbio/platform-documentation-writers

feat: added a pep440 compliant local version number and checks
  pyproject.toml
  src/__init__.py
  src/data_hub/api.py
  src/utils.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

docs: updated changelog
  docs/changelog.md
Owners: @deeporiginbio/platform-documentation-writers

fix: number of small bugfixes with dataframes (#74)
  docs/changelog.md
  docs/data-hub/dataframes.md
  pyproject.toml
  src/__init__.py
  src/data_hub/api.py
  src/data_hub/dataframe.py
  src/utils.py
Owners: @deeporiginbio/platform-documentation-writers, @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

Deployed 5ddf8a0 with MkDocs version: 1.6.0
  changelog.html
  data-hub/dataframes.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: @deeporiginbio/catalog-developers

feat: much faster file name resolution using ListFiles
  pyproject.toml
  src/data_hub/api.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: cold start time down to 1 second
  src/data_hub/_api.py
  src/data_hub/dataframe.py
Owners: @deeporiginbio/data-management-developers

feat: much faster file name resolution using ListFiles (#75)
  pyproject.toml
  src/data_hub/_api.py
  src/data_hub/api.py
  src/data_hub/dataframe.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

refactor: moved _run_cli_command to utils
  tests/test_cli_data.py
  tests/utils.py
Owners: @deeporiginbio/catalog-developers

tests: added test for config add
  tests/test_cli_config.py
Owners: @deeporiginbio/catalog-developers

feat: added new system tests
  .github/workflows/main.yml
  src/cli/config.py
  src/cli/data.py
  src/utils.py
Owners: @deeporiginbio/catalog-developers

fix: consolidated tests
  .github/workflows/main.yml
Owners: @deeporiginbio/catalog-developers

fix: why are tests passing?
  .github/workflows/main.yml
Owners: @deeporiginbio/catalog-developers

.github/CODEOWNERS:

* @deeporiginbio/catalog-developers
src/data_hub/ @deeporiginbio/data-management-developers
src/variables/ @deeporiginbio/platform-developers
mkdocs.yaml @deeporiginbio/platform-documentation-writers @deeporiginbio/designers
docs/ @deeporiginbio/platform-documentation-writers
docs/images/ @deeporiginbio/platform-documentation-writers @deeporiginbio/designers
docs/stylesheets/ @deeporiginbio/platform-documentation-writers @deeporiginbio/designers
