Repository deeporiginbio/deeporigin-client, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers, @deeporiginbio/platform-developers, @deeporiginbio/platform-documentation-writers, @deeporiginbio/designers

fix: removed a file that shouldn't be included (#60)
  .gitignore
  local database.csv
  src/data_hub/_api.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

feat: clarified the help strings of the data hub in the CLI
  src/cli/data.py
Owners: @deeporiginbio/catalog-developers

feat: clarified the help strings of the data hub in the CLI (#62)
  src/cli/data.py
Owners: @deeporiginbio/catalog-developers

fix: minor improvements
  src/cli/data.py
  src/data_hub/api.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: get_row_data now makes keys for empty columns
  src/cli/data.py
  src/data_hub/api.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: fixed a bug where some column names were skipped
  src/data_hub/api.py
Owners: @deeporiginbio/data-management-developers

fix: changed to notebook in help text
  src/cli/data.py
Owners: @deeporiginbio/catalog-developers

fix: rename to get_notebook
  src/data_hub/api.py
Owners: @deeporiginbio/data-management-developers

fix: minor improvements (#63)
  src/cli/data.py
  src/data_hub/api.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

feat: changed 'document' terminology to 'notebook'
  src/cli/data.py
  src/data_hub/api.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: improvements to docs
  docs/configure.md
  docs/how-to/config-package.md
  docs/how-to/data-hub/upload-files.md
  docs/how-to/data-hub/view-data.md
  docs/install.md
  docs/ref/data-hub/low-level-api.md
  mkdocs.yaml
Owners: @deeporiginbio/platform-documentation-writers, @deeporiginbio/designers

fix: added type hint
  src/data_hub/api.py
Owners: @deeporiginbio/data-management-developers

feat: changed 'document' terminology to 'notebook' (#64)
  src/cli/data.py
  src/data_hub/api.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: whitespace
  src/data_hub/api.py
Owners: @deeporiginbio/data-management-developers

fix: fixed a bug where bodyDocument was included in dict keys
  src/data_hub/api.py
Owners: @deeporiginbio/data-management-developers

fix: long strings no longer break tables
  src/utils.py
Owners: @deeporiginbio/catalog-developers

feat(docs): minor refinements to docs
  docs/configure.md
  docs/how-to/config-package.md
  docs/how-to/data-hub/upload-files.md
  docs/install.md
  docs/ref/data-hub/low-level-api.md
  mkdocs.yaml
  src/data_hub/api.py
Owners: @deeporiginbio/platform-documentation-writers, @deeporiginbio/designers, @deeporiginbio/data-management-developers

Updates to documentation (#65)
  docs/configure.md
  docs/how-to/config-package.md
  docs/how-to/data-hub/upload-files.md
  docs/how-to/data-hub/view-data.md
  docs/install.md
  docs/ref/data-hub/low-level-api.md
  mkdocs.yaml
  src/data_hub/api.py
  src/utils.py
Owners: @deeporiginbio/platform-documentation-writers, @deeporiginbio/designers, @deeporiginbio/data-management-developers, @deeporiginbio/catalog-developers

fix: fixed a bug in list rows
  src/utils.py
Owners: @deeporiginbio/catalog-developers

feat: pretty printing of error messages
  src/data_hub/_api.py
  src/utils.py
Owners: @deeporiginbio/data-management-developers, @deeporiginbio/catalog-developers

Minor improvements and bug fixes (#66)
  src/data_hub/_api.py
  src/utils.py
Owners: @deeporiginbio/data-management-developers, @deeporiginbio/catalog-developers

Deployed 2eea193 with MkDocs version: 1.6.0
  404.html
  configure.html
  how-to/auth.html
  how-to/config-package.html
  how-to/data-hub/list-data.html
  how-to/data-hub/upload-files.html
  how-to/data-hub/view-data.html
  how-to/data-hub/write-data.html
  how-to/variables.html
  how-to/workstation-info.html
  index.html
  install.html
  objects.inv
  ref/data-hub/high-level-api.html
  ref/data-hub/low-level-api.html
  ref/data-hub/types.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: @deeporiginbio/catalog-developers

feat: clarified and standardized error messages
  src/auth.py
  src/cli/config.py
  src/cli/data.py
  src/config/__init__.py
  src/data_hub/_api.py
  src/data_hub/api.py
  src/utils.py
  tests/test_managed_data.py
  tests/test_variables.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

feat: clarified and standardized error messages (#67)
  src/auth.py
  src/cli/config.py
  src/cli/data.py
  src/config/__init__.py
  src/data_hub/_api.py
  src/data_hub/api.py
  src/utils.py
  tests/test_managed_data.py
  tests/test_variables.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

feat: ability to create/delete objects
  create.md
  docs/compute-hub/index.md
  docs/configure.md
  docs/data-hub/index.md
  docs/how-to/data-hub/create.md
  docs/how-to/data-hub/delete.md
  mkdocs.yaml
  src/cli/data.py
  src/data_hub/_api.py
  src/data_hub/api.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/platform-documentation-writers, @deeporiginbio/designers, @deeporiginbio/data-management-developers

fix: tests pass using mocked client
  src/data_hub/api.py
  tests/mock_client.py
  tests/test_managed_data.py
Owners: @deeporiginbio/data-management-developers, @deeporiginbio/catalog-developers

feat: more support for new commands, more docs
  docs/how-to/data-hub/delete.md
  docs/index.md
  src/cli/data.py
  src/data_hub/_api.py
  src/data_hub/api.py
  src/utils.py
Owners: @deeporiginbio/platform-documentation-writers, @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: improved docs, removed some dead code
  create.md
  docs/how-to/config-package.md
  docs/how-to/data-hub/create.md
  docs/how-to/data-hub/delete.md
  docs/install.md
  mkdocs.yaml
  src/cli/data.py
  src/data_hub/api.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/platform-documentation-writers, @deeporiginbio/designers, @deeporiginbio/data-management-developers

feat: various small improvements to docs
  docs/compute-hub/index.md
  docs/data-hub/index.md
  docs/how-to/auth.md
  docs/how-to/variables.md
  docs/index.md
Owners: @deeporiginbio/platform-documentation-writers

feat: ability to create/delete objects (#68)
  docs/compute-hub/index.md
  docs/configure.md
  docs/data-hub/index.md
  docs/how-to/auth.md
  docs/how-to/config-package.md
  docs/how-to/data-hub/create.md
  docs/how-to/data-hub/delete.md
  docs/how-to/variables.md
  docs/index.md
  docs/install.md
  mkdocs.yaml
  src/cli/data.py
  src/data_hub/_api.py
  src/data_hub/api.py
  src/utils.py
  tests/mock_client.py
  tests/test_managed_data.py
Owners: @deeporiginbio/platform-documentation-writers, @deeporiginbio/designers, @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

feat(docs): minor edits to docs
  docs/compute-hub/index.md
  docs/configure.md
  docs/data-hub/index.md
  docs/how-to/auth.md
  docs/how-to/data-hub/create.md
  docs/how-to/data-hub/delete.md
  docs/how-to/data-hub/list-data.md
  docs/how-to/variables.md
  mkdocs.yaml
  src/auth.py
  src/cli/data.py
  src/cli/variables.py
  src/data_hub/api.py
  src/variables/base_type.py
  src/variables/core.py
  src/variables/types/aws_profile.py
  src/variables/types/env_var.py
Owners: @deeporiginbio/platform-documentation-writers, @deeporiginbio/designers, @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers, @deeporiginbio/platform-developers

feat(docs): minor edits to docs
  docs/compute-hub/index.md
  mkdocs.yaml
Owners: @deeporiginbio/platform-documentation-writers, @deeporiginbio/designers

style: fixed lint issue
  src/cli/data.py
Owners: @deeporiginbio/catalog-developers

feat(docs): minor edits to docs (#69)
  docs/compute-hub/index.md
  docs/configure.md
  docs/data-hub/index.md
  docs/how-to/auth.md
  docs/how-to/data-hub/create.md
  docs/how-to/data-hub/delete.md
  docs/how-to/data-hub/list-data.md
  docs/how-to/variables.md
  mkdocs.yaml
  src/auth.py
  src/cli/data.py
  src/cli/variables.py
  src/data_hub/api.py
  src/variables/base_type.py
  src/variables/core.py
  src/variables/types/aws_profile.py
  src/variables/types/env_var.py
Owners: @deeporiginbio/platform-documentation-writers, @deeporiginbio/designers, @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers, @deeporiginbio/platform-developers

Deployed ced08a1 with MkDocs version: 1.6.0
  404.html
  compute-hub/index.html
  configure.html
  data-hub/index.html
  how-to/auth.html
  how-to/data-hub/create.html
  how-to/data-hub/delete.html
  how-to/data-hub/list-data.html
  how-to/data-hub/upload-files.html
  how-to/data-hub/view-data.html
  how-to/data-hub/write-data.html
  how-to/variables.html
  index.html
  install.html
  objects.inv
  ref/data-hub/high-level-api.html
  ref/data-hub/low-level-api.html
  ref/data-hub/types.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Owners: @deeporiginbio/catalog-developers

feat: updated to new version of deleting database columns
  docs/how-to/data-hub/delete.md
  pyproject.toml
  src/cli/data.py
Owners: @deeporiginbio/platform-documentation-writers, @deeporiginbio/catalog-developers

fix: better error message on delete
  src/cli/data.py
Owners: @deeporiginbio/catalog-developers

fix: clarified docs
  docs/how-to/data-hub/delete.md
Owners: @deeporiginbio/platform-documentation-writers

fix: changed text of error message
  src/cli/data.py
Owners: @deeporiginbio/catalog-developers

fix: incorrect plural
  src/cli/data.py
Owners: @deeporiginbio/catalog-developers

.github/CODEOWNERS:

* @deeporiginbio/catalog-developers
src/data_hub/ @deeporiginbio/data-management-developers
src/variables/ @deeporiginbio/platform-developers
mkdocs.yaml @deeporiginbio/platform-documentation-writers @deeporiginbio/designers
docs/ @deeporiginbio/platform-documentation-writers
docs/images/ @deeporiginbio/platform-documentation-writers @deeporiginbio/designers
docs/stylesheets/ @deeporiginbio/platform-documentation-writers @deeporiginbio/designers
