Repository deeporiginbio/deeporigin-client, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers, @deeporiginbio/platform-developers, @deeporiginbio/platform-documentation-writers, @deeporiginbio/designers

fix: slight refactor
  src/data_hub/dataframe.py
Owners: @deeporiginbio/data-management-developers

fix: removed a double /
  src/platform/api.py
Owners: @deeporiginbio/catalog-developers

fix: more bugfixes & improvements (#83)
  docs/data-hub/dataframes.md
  pyproject.toml
  src/data_hub/api.py
  src/data_hub/dataframe.py
  src/platform/api.py
Owners: @deeporiginbio/platform-documentation-writers, @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

feat: support for passing sha256 checksum to upload_file
  pyproject.toml
  src/data_hub/api.py
  src/platform/api.py
  src/utils.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: changed url to data-hub
  src/utils.py
Owners: @deeporiginbio/catalog-developers

feat: support for passing sha256 checksum to upload_file (#84)
  pyproject.toml
  src/data_hub/api.py
  src/platform/api.py
  src/utils.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

refactor: split up utils into different modules
  src/cli/config.py
  src/cli/data.py
  src/config/__init__.py
  src/data_hub/_api.py
  src/data_hub/api.py
  src/data_hub/dataframe.py
  src/platform/api.py
  src/utils.py
  src/utils/config.py
  src/utils/constants.py
  src/utils/core.py
  src/utils/network.py
  src/variables/types/env_var.py
  src/variables/types/file.py
  src/variables/types/git_http_credentials.py
  src/variables/types/private_ssh_key.py
  src/variables/types/xpress_license_file.py
  tests/test_data_hub.py
  tests/test_variables.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers, @deeporiginbio/platform-developers

fix: added docstrings for all modules
  src/utils/config.py
  src/utils/constants.py
  src/utils/core.py
  src/utils/network.py
Owners: @deeporiginbio/catalog-developers

fix: tests should pass now
  src/config/__init__.py
  src/utils/core.py
Owners: @deeporiginbio/catalog-developers

fix: deduplicated some url code
  src/utils/config.py
Owners: @deeporiginbio/catalog-developers

fix: fixed a bug in how we use urljoin
  src/utils/config.py
Owners: @deeporiginbio/catalog-developers

fix: attempt to spell out tmp dir
  src/utils/core.py
Owners: @deeporiginbio/catalog-developers

refactor: split up utils into different modules (#85)
  src/cli/config.py
  src/cli/data.py
  src/config/__init__.py
  src/data_hub/_api.py
  src/data_hub/api.py
  src/data_hub/dataframe.py
  src/platform/api.py
  src/utils.py
  src/utils/config.py
  src/utils/constants.py
  src/utils/core.py
  src/utils/network.py
  src/variables/types/env_var.py
  src/variables/types/file.py
  src/variables/types/git_http_credentials.py
  src/variables/types/private_ssh_key.py
  src/variables/types/xpress_license_file.py
  tests/test_data_hub.py
  tests/test_variables.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers, @deeporiginbio/platform-developers

fix: better error message on failed file upload
  src/data_hub/api.py
Owners: @deeporiginbio/data-management-developers

.github/CODEOWNERS:

* @deeporiginbio/catalog-developers
src/data_hub/ @deeporiginbio/data-management-developers
src/variables/ @deeporiginbio/platform-developers
mkdocs.yaml @deeporiginbio/platform-documentation-writers @deeporiginbio/designers
docs/ @deeporiginbio/platform-documentation-writers
docs/images/ @deeporiginbio/platform-documentation-writers @deeporiginbio/designers
docs/stylesheets/ @deeporiginbio/platform-documentation-writers @deeporiginbio/designers
