Repository deeporiginbio/deeporigin-client, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers, @deeporiginbio/platform-developers, @deeporiginbio/platform-documentation-writers, @deeporiginbio/designers

fix: disabling _ensure_do_folder
  src/utils.py
Owners: @deeporiginbio/catalog-developers

fix: tests pass now
  src/utils.py
  tests/test_cli_config.py
Owners: @deeporiginbio/catalog-developers

fix: better testing for config (#76)
  .github/workflows/main.yml
  src/cli/config.py
  src/cli/data.py
  src/utils.py
  tests/test_cli_config.py
  tests/test_cli_data.py
  tests/utils.py
Owners: @deeporiginbio/catalog-developers

fix: version number printed correctly
  src/__init__.py
Owners: @deeporiginbio/catalog-developers

fix: version number printed correctly (#77)
  src/__init__.py
Owners: @deeporiginbio/catalog-developers

fix: check `file_ids` length prior to listing files
  src/data_hub/api.py
Owners: @deeporiginbio/data-management-developers

fix: check `file_ids` length prior to listing files (#78)
  src/data_hub/api.py
Owners: @deeporiginbio/data-management-developers

fix: dataframe printing errors shouldn't cause an error
  src/data_hub/dataframe.py
Owners: @deeporiginbio/data-management-developers

fix: also read env from the env
  src/config/__init__.py
Owners: @deeporiginbio/catalog-developers

fix: dataframe printing errors shouldn't cause an error (#79)
  src/config/__init__.py
  src/data_hub/dataframe.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: added list_files method back, matching docs
  docs/ref/data-hub/low-level-api.md
  src/data_hub/_api.py
  src/data_hub/api.py
Owners: @deeporiginbio/platform-documentation-writers, @deeporiginbio/data-management-developers

fix: docstring
  src/data_hub/api.py
Owners: @deeporiginbio/data-management-developers

fix: tests pass on local
  src/data_hub/api.py
  tests/mock_client.py
  tests/test_managed_data.py
Owners: @deeporiginbio/data-management-developers, @deeporiginbio/catalog-developers

feat: hooks into platform API to resolve user DRNs
  src/data_hub/api.py
  src/data_hub/dataframe.py
  src/platform/api.py
  tests/test_dataframe.py
Owners: @deeporiginbio/data-management-developers, @deeporiginbio/catalog-developers

fix: bumped to SDK v11
  pyproject.toml
Owners: @deeporiginbio/catalog-developers

refactor: renamed a test
  tests/test_data_hub.py
Owners: @deeporiginbio/catalog-developers

fix: fixed a bug where running tests borked config
  tests/test_cli_config.py
Owners: @deeporiginbio/catalog-developers

fix: all tests pass against a live instance
  src/utils.py
  tests/test_data_hub.py
Owners: @deeporiginbio/catalog-developers

fix: tests pass on mock client
  tests/mock_client.py
Owners: @deeporiginbio/catalog-developers

fix: placeholder org ID if none specified
  tests/test_cli_config.py
Owners: @deeporiginbio/catalog-developers

fix: better handling of org_id in tests
  tests/test_cli_config.py
Owners: @deeporiginbio/catalog-developers

fix: fixed a bug where non-mock client was used
  tests/test_data_hub.py
Owners: @deeporiginbio/catalog-developers

refactor: removed pytest config from individual tests
  tests/test_cli_data.py
  tests/test_data_hub.py
  tests/utils.py
Owners: @deeporiginbio/catalog-developers

fix: clean up resources after test
  tests/test_data_hub.py
  tests/utils.py
Owners: @deeporiginbio/catalog-developers

fix: only clean up on non-mock instance
  tests/utils.py
Owners: @deeporiginbio/catalog-developers

refactor: moved to a common try/catch
  tests/utils.py
Owners: @deeporiginbio/catalog-developers

feat: tests for dataframe operations
  src/data_hub/api.py
  src/utils.py
  tests/test_dataframe.py
  tests/utils.py
Owners: @deeporiginbio/data-management-developers, @deeporiginbio/catalog-developers

fix: clean up only when running on live instance
  docs/how-to/data-hub/delete.md
  tests/test_dataframe.py
Owners: @deeporiginbio/platform-documentation-writers, @deeporiginbio/catalog-developers

fix: docs update for new delete methods
  docs/how-to/data-hub/delete.md
  src/cli/data.py
Owners: @deeporiginbio/platform-documentation-writers, @deeporiginbio/catalog-developers

fix: fixed a bug where an empty database wasn't returning None
  src/data_hub/api.py
  tests/test_dataframe.py
  tests/utils.py
Owners: @deeporiginbio/data-management-developers, @deeporiginbio/catalog-developers

fix: changed user_drn -> user_id
  src/platform/api.py
Owners: @deeporiginbio/catalog-developers

fix: added list_files method back, matching docs (#81)
  docs/how-to/data-hub/delete.md
  docs/ref/data-hub/low-level-api.md
  pyproject.toml
  src/cli/data.py
  src/data_hub/_api.py
  src/data_hub/api.py
  src/data_hub/dataframe.py
  src/platform/api.py
  src/utils.py
  tests/mock_client.py
  tests/test_cli_config.py
  tests/test_cli_data.py
  tests/test_data_hub.py
  tests/test_dataframe.py
  tests/utils.py
Owners: @deeporiginbio/platform-documentation-writers, @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: wrapped all pretty printing methods in try/catch
  src/data_hub/dataframe.py
Owners: @deeporiginbio/data-management-developers

fix: overrides for DataFrame.head and DataFrame.tail
  docs/data-hub/dataframes.md
  src/data_hub/dataframe.py
Owners: @deeporiginbio/platform-documentation-writers, @deeporiginbio/data-management-developers

fix: better readability in dark mode
  src/data_hub/dataframe.py
Owners: @deeporiginbio/data-management-developers

fix: moved a comment to where it belongs
  src/data_hub/api.py
Owners: @deeporiginbio/data-management-developers

feat: added disk-cache for user name resolution
  pyproject.toml
  src/data_hub/dataframe.py
  src/platform/api.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

feat: support for adding new columns to a dataframe
  src/data_hub/dataframe.py
Owners: @deeporiginbio/data-management-developers

feat: added more API endpoints for platform
  src/data_hub/dataframe.py
  src/platform/api.py
Owners: @deeporiginbio/data-management-developers, @deeporiginbio/catalog-developers

feat: expanded platform API wrappers
  src/platform/api.py
Owners: @deeporiginbio/catalog-developers

.github/CODEOWNERS:

* @deeporiginbio/catalog-developers
src/data_hub/ @deeporiginbio/data-management-developers
src/variables/ @deeporiginbio/platform-developers
mkdocs.yaml @deeporiginbio/platform-documentation-writers @deeporiginbio/designers
docs/ @deeporiginbio/platform-documentation-writers
docs/images/ @deeporiginbio/platform-documentation-writers @deeporiginbio/designers
docs/stylesheets/ @deeporiginbio/platform-documentation-writers @deeporiginbio/designers
