Repository deeporiginbio/deeporigin-client, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers, @deeporiginbio/platform-developers, @deeporiginbio/documentation-writers, @deeporiginbio/designers

.github/CODEOWNERS:

* @deeporiginbio/catalog-developers
src/managed_data/ @deeporiginbio/data-management-developers
src/variables/ @deeporiginbio/platform-developers
mkdocs.yaml @deeporiginbio/documentation-writers @deeporiginbio/designers
docs/ @deeporiginbio/documentation-writers
docs/images/ @deeporiginbio/documentation-writers @deeporiginbio/designers
docs/stylesheets/ @deeporiginbio/documentation-writers @deeporiginbio/designers

feat: nicer headers for docs (#48)
  docs/images/header_a.png
  docs/images/header_b.png
  docs/stylesheets/extra.css
Owners: @deeporiginbio/documentation-writers, @deeporiginbio/designers

Deployed 536769d with MkDocs version: 1.6.0
  images/header_a.png
  images/header_b.png
  stylesheets/extra.css
Owners: @deeporiginbio/catalog-developers

fix: dataframe better matches DB
  src/managed_data/api.py
Owners: @deeporiginbio/data-management-developers

fix: refactored to use DeepOriginException
  src/auth.py
  src/cli/__init__.py
  src/cli/config.py
  src/config/__init__.py
  src/exceptions.py
  src/managed_data/_api.py
  src/managed_data/api.py
  src/managed_data/client.py
  src/variables/core.py
  src/variables/types/aws_profile.py
  tests/test_config.py
  tests/test_managed_data.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers, @deeporiginbio/platform-developers

fix: filter out template rows
  src/cli/config.py
  src/managed_data/api.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

feat: added config load/save
  src/cli/config.py
Owners: @deeporiginbio/catalog-developers

refactor: moved upload_file to api
  src/managed_data/_api.py
  src/managed_data/api.py
Owners: @deeporiginbio/data-management-developers

fix: added another test.
  pyproject.toml
  src/managed_data/_api.py
  tests/mock_client.py
  tests/test_managed_data.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: formatting
  src/managed_data/_api.py
Owners: @deeporiginbio/data-management-developers

fix: rewrite to pass on python 3.9
  src/cli/config.py
Owners: @deeporiginbio/catalog-developers

fix: remove api_tokens fails if file does not exist
  src/cli/config.py
Owners: @deeporiginbio/catalog-developers

feat: tests now run in parallel using xdist
  Makefile
  pyproject.toml
Owners: @deeporiginbio/catalog-developers

refactor: changed makefile to use parallel for live tests
  Makefile
Owners: @deeporiginbio/catalog-developers

fix: fixes following review
  pyproject.toml
  src/cli/config.py
Owners: @deeporiginbio/catalog-developers

fix: dataframe better matches DB (#50)
  Makefile
  pyproject.toml
  src/auth.py
  src/cli/__init__.py
  src/cli/config.py
  src/config/__init__.py
  src/exceptions.py
  src/managed_data/_api.py
  src/managed_data/api.py
  src/managed_data/client.py
  src/variables/core.py
  src/variables/types/aws_profile.py
  tests/mock_client.py
  tests/test_config.py
  tests/test_managed_data.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers, @deeporiginbio/platform-developers

feat: align host context with compute cluster terminology
  docs/how-to/do-info.md
  src/cli/context.py
  src/context.py
  tests/test_context.py
Owners: @deeporiginbio/documentation-writers, @deeporiginbio/catalog-developers

style: blacked code
  src/context.py
  src/managed_data/_api.py
  src/managed_data/schema.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

refactor: moved the generation of a string representation of context to a native Python interface
  src/cli/context.py
  src/context.py
Owners: @deeporiginbio/catalog-developers

feat: disabled printing the compute cluster and hardware context
  src/context.py
  tests/test_context.py
Owners: @deeporiginbio/catalog-developers

style: formatted tests
  tests/test_context.py
Owners: @deeporiginbio/catalog-developers

chore: added ruff to development dependencies
  pyproject.toml
Owners: @deeporiginbio/catalog-developers

feat: disabled printing context for compute cluster and hardware which the platform no longer provides (#53)
  docs/how-to/do-info.md
  pyproject.toml
  src/cli/context.py
  src/context.py
  src/managed_data/_api.py
  src/managed_data/schema.py
  tests/test_context.py
Owners: @deeporiginbio/documentation-writers, @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: more functions work in api._
  src/managed_data/_api.py
  src/managed_data/api.py
  src/managed_data/client.py
  src/utils.py
Owners: @deeporiginbio/data-management-developers, @deeporiginbio/catalog-developers

feat: wrote dynamic dispatcher
  src/managed_data/_api.py
  src/managed_data/api.py
Owners: @deeporiginbio/data-management-developers

feat: new arch for generated code
  src/managed_data/_api.py
  src/managed_data/api.py
  src/managed_data/api2.py
Owners: @deeporiginbio/data-management-developers

refactor: ready to start work on tests
  pyproject.toml
  src/managed_data/_api.py
  src/managed_data/api.py
  src/managed_data/api2.py
  src/managed_data/client.py
  src/utils.py
  tests/test_managed_data.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: some tests now pass against a live instance
  Makefile
  src/cli/data.py
  src/managed_data/_api.py
  src/managed_data/api.py
  tests/mock_client.py
  tests/test_cli_data.py
  tests/test_managed_data.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: more tests pass
  Makefile
  pyproject.toml
  src/managed_data/_api.py
  src/managed_data/api.py
  tests/test_managed_data.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: a lot more tests passing
  pyproject.toml
  src/managed_data/_api.py
  src/managed_data/api.py
  tests/test_managed_data.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: base_url for client now set correctly
  src/managed_data/_api.py
  src/managed_data/api.py
  src/utils.py
  tests/test_managed_data.py
Owners: @deeporiginbio/data-management-developers, @deeporiginbio/catalog-developers

fix: refactor of get_dataframe
  src/managed_data/api.py
  tests/test_managed_data.py
Owners: @deeporiginbio/data-management-developers, @deeporiginbio/catalog-developers

fix: all tests pass on managed_data
  Makefile
  src/managed_data/api.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: more functional mocked tests
  src/managed_data/api.py
  tests/mock_client.py
Owners: @deeporiginbio/data-management-developers, @deeporiginbio/catalog-developers

fix: all tests pass against a live instance
  Makefile
  src/cli/data.py
  src/managed_data/api.py
  src/managed_data/schema.py
  src/utils.py
  tests/mock_client.py
  tests/test_cli_data.py
  tests/test_managed_data.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: removed some debug code
  Makefile
Owners: @deeporiginbio/catalog-developers

fix: removed some unnecessary things
  pyproject.toml
  src/managed_data/_api.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: all tests pass
  local database.csv
  src/managed_data/_api.py
  src/managed_data/api.py
  tests/mock_client.py
  tests/test_managed_data.py
Owners: @deeporiginbio/catalog-developers, @deeporiginbio/data-management-developers

fix: updated some outdated comments and docstrings
  src/managed_data/_api.py
Owners: @deeporiginbio/data-management-developers

fix: deleted config.yml file as we don't need it
  tests/config.yml
Owners: @deeporiginbio/catalog-developers

fix: deleted another file we don't need
  .github/workflows/main.yml
  tests/api_tokens
Owners: @deeporiginbio/catalog-developers
